TabNavigator {
   textIndent: 0;
   horizontalGap: 2;
   tabHeight: 30;
   tabWidth: 114;
   tabStyleName: "myTabs";
   firstTabStyleName: "myTabs";
   lastTabStyleName: "myTabs";
   selectedTabTextStyleName: "mySelectedTabs";
   tab-style-name:"myTabs";
}
TileList
{
	backgroundColor: #e7e7e6;
	rollOverColor: #ecebb5;
}
.myTabs{
	
	fontSize: 14;
	highlightAlphas: 0, 0;
	backgroundColor: #FFFFFF;
	cornerRadius: 10;
	fillColors: #cccccc, #cccccc;

}
Accordion
{
	cornerRadius: 0;
	backgroundColor: #e7e7e6;
	headerStyleName: accordionButton;
	
}
.accordionButton{
		
	cornerRadius: 5;
	fontSize: 16;
	color:#065700;
	downSkin: Embed(source="asset/Map.swf", symbol="AccordionOver");
	upSkin: Embed(source="asset/Map.swf", symbol="AccordionUp");
	overSkin: Embed(source="asset/Map.swf", symbol="AccordionOver");
	selectedDownSkin: Embed(source="asset/Map.swf", symbol="AccordionOver");
	selectedOverSkin: Embed(source="asset/Map.swf", symbol="AccordionOver");
	selectedUpSkin: Embed(source="asset/Map.swf", symbol="AccordionOver");	

}
Button {
   fontSize: 12;
}
TitleWindow
{
	borderColor: #4449B4;
	borderThicknessLeft: 1;
	borderThicknessRight: 1;
	roundedBottomCorners: true;
	borderThicknessBottom: 1;
	headerHeight: 35;
	fontSize: 14;
	title-style-name:"titleWindowFront";
	closeButtonUpSkin: Embed(source="asset/Map.swf", symbol="CloseButtonUp");
	closeButtonOverSkin: Embed(source="asset/Map.swf", symbol="CloseButtonOver");
	closeButtonDownSkin: Embed(source="asset/Map.swf", symbol="CloseButtonOver");
	borderAlpha: 1;
}
.titleWindowFront
{
	
	color: #FFFFFF;

}
TextArea {
   fontSize: 14;
}
ToolTip {
   backgroundColor: #cccccc;
   fontSize: 13;
}
Label{
	
   fontSize: 13;

}
Application {
   themeColor: #cccccc;
}
.tipPanel
{
	statusStyleName: panelStatus;
}
.panelStatus
{
	borderColor: #45539E;
	roundedBottomCorners: false;
	borderThicknessRight: 2;
	borderThicknessLeft: 2;
	borderThicknessTop: 0;
	cornerRadius: 0;
	borderAlpha: 1.0;
}
