<?xml version="1.0" encoding="utf-8"?>
<menu>
	<menu>
		<submenu label="农业种养殖技术展区（一）">
			<item id="3" hot="1" go="10"/>
			<item id="4"/>
			<item id="5"/>
			<item id="14"/>
			<item id="16"/>
			<item id="17"/>
			<item id="18"/>
			<item id="165"/>
			<item id="26"/>
			<item id="28"/>
			<item id="29"/>
			<item id="167"/>
			<item id="34"/>
			<item id="70"/>
			<item id="78"/>
			<item id="82"/>
		</submenu>
		<submenu label="农业种养殖技术展区（二）">
			<item id="118"/>
			<item id="119"/>
			<item id="125"/>
			<item id="138"/>
			<item id="139"/>
			<item id="147"/>
			<item id="149"/>
			<item id="189"/>
			<item id="207"/>
			<item id="222"/>
			<item id="228"/>
			<item id="231"/>
			<item id="260"/>
			<item id="263"/>
			<item id="293"/>
			<item id="299"/>
		</submenu>
		<submenu label="农业种养殖技术展区（三）">
			<item id="303"/>
			<item id="305"/>
			<item id="309"/>
			<item id="314"/>
			<item id="315"/>
			<item id="318"/>
			<item id="325"/>
			<item id="329"/>
			<item id="346"/>
			<item id="351"/>
			<item id="354"/>
			<item id="355"/>
			<item id="356"/>
			<item id="126"/>
			<item id="155"/>
			<item id="157"/>
		</submenu>
		<submenu label="农业种养殖技术展区（四）">
			<item id="175"/>
			<item id="187"/>
			<item id="310"/>
			<item id="49"/>
			<item id="50"/>
			<item id="51"/>
			<item id="52"/>
			<item id="53"/>
			<item id="54"/>
			<item id="55"/>
			<item id="56"/>
			<item id="57"/>
			<item id="58"/>
			<item id="59"/>
			<item id="60"/>
			<item id="61"/>
		</submenu>
		<submenu label="农业种养殖技术展区（五）">
			<item id="83"/>
			<item id="88"/>
			<item id="300"/>
			<item id="302"/>
			<item id="159"/>
			<item id="163"/>
			<item id="31"/>
			<item id="32"/>
			<item id="33"/>
			<item id="22"/>
			<item id="23"/>
		</submenu>
	</menu>
	<menu>
		<submenu label="电子信息展区（一）">
			<item id="43"/>
			<item id="47"/>
			<item id="66"/>
			<item id="67"/>
			<item id="90"/>
			<item id="91"/>
			<item id="93"/>
			<item id="94"/>
			<item id="95"/>
			<item id="96"/>
			<item id="102"/>
			<item id="105"/>
			<item id="106"/>
			<item id="107"/>
			<item id="108"/>
			<item id="109"/>
			<item id="110"/>
			<item id="112"/>
			<item id="114"/>
			<item id="115"/>
			<item id="184"/>
			<item id="199"/>
			<item id="200"/>
			<item id="274"/>
		</submenu>
		<submenu label="电子信息展区（二）">
			<item id="278"/>
			<item id="280"/>
			<item id="281"/>
			<item id="283"/>
			<item id="285"/>
			<item id="333"/>
			<item id="334"/>
			<item id="335"/>
			<item id="337"/>
			<item id="342"/>
			<item id="343"/>
			<item id="344"/>
			<item id="367"/>
			<item id="368"/>
			<item id="921"/>
		</submenu>
	</menu>
	<menu>
		<submenu label="机电一体化（一）">
			<item id="39"/>
			<item id="40"/>
			<item id="42"/>
			<item id="44"/>
			<item id="92"/>
			<item id="97"/>
			<item id="98"/>
			<item id="103"/>
			<item id="113"/>
			<item id="185"/>
			<item id="186"/>
			<item id="116"/>
			<item id="133"/>
			<item id="201"/>
			<item id="202"/>
			<item id="269"/>
			<item id="272"/>
			<item id="277"/>
			<item id="279"/>
			<item id="286"/>
			<item id="296"/>
			<item id="359"/>
			<item id="377"/>
		</submenu>
	</menu>
	<menu>
		<submenu label="节能减排">
			<item id="164"/>
			<item id="198"/>
			<item id="203"/>
			<item id="271"/>
			<item id="297"/>
		</submenu>
		<submenu label="生物医药">
			<item id="104"/>
			<item id="273"/>
		</submenu>
		<submenu label="新材料">
			<item id="38"/>
			<item id="41"/>
			<item id="45"/>
			<item id="46"/>
			<item id="48"/>
			<item id="276"/>
		</submenu>
	</menu>
	<menu>
		<submenu label="农产品加工技术展区（一）">
			<item id="1"/>
			<item id="6"/>
			<item id="7"/>
			<item id="8"/>
			<item id="9"/>
			<item id="10"/>
			<item id="11"/>
			<item id="12"/>
			<item id="19"/>
			<item id="21"/>
			<item id="30"/>
			<item id="36"/>
			<item id="37"/>
			<item id="71"/>
		</submenu>
		<submenu label="农产品加工技术展区（二）">
			<item id="72"/>
			<item id="73"/>
			<item id="74"/>
			<item id="84"/>
			<item id="85"/>
			<item id="86"/>
			<item id="87"/>
			<item id="122"/>
			<item id="129"/>
			<item id="130"/>
			<item id="136"/>
			<item id="137"/>
			<item id="142"/>
			<item id="145"/>
		</submenu>
		<submenu label="农产品加工技术展区（三）">
			<item id="151"/>
			<item id="153"/>
			<item id="173"/>
			<item id="176"/>
			<item id="177"/>
			<item id="178"/>
			<item id="179"/>
			<item id="181"/>
			<item id="182"/>
			<item id="183"/>
			<item id="191"/>
			<item id="192"/>
			<item id="206"/>
			<item id="213"/>
		</submenu>
		<submenu label="农产品加工技术展区（四）">
			<item id="219"/>
			<item id="226"/>
			<item id="227"/>
			<item id="229"/>
			<item id="230"/>
			<item id="236"/>
			<item id="252"/>
			<item id="254"/>
			<item id="255"/>
			<item id="256"/>
			<item id="262"/>
			<item id="266"/>
			<item id="216"/>
			<item id="218"/>
		</submenu>
		<submenu label="农产品加工技术展区（五）">
			<item id="319"/>
			<item id="320"/>
			<item id="321"/>
			<item id="222"/>
			<item id="324"/>
			<item id="326"/>
			<item id="328"/>
			<item id="330"/>
			<item id="347"/>
			<item id="348"/>
			<item id="267"/>
			<item id="282"/>
			<item id="294"/>
			<item id="317"/>
		</submenu>
		<submenu label="农产品加工技术展区（六）">
			<item id="362"/>
			<item id="363"/>
			<item id="365"/>
			<item id="369"/>
			<item id="370"/>
			<item id="371"/>
			<item id="372"/>
			<item id="374"/>
			<item id="146"/>
			<item id="147"/>
			<item id="148"/>
			<item id="150"/>
		</submenu>
	</menu>
	<menu>
		<submenu label="农业装备技术展区（一）">
			<item id="13"/>
			<item id="20"/>
			<item id="24"/>
			<item id="25"/>
			<item id="76"/>
			<item id="79"/>
			<item id="81"/>
			<item id="117"/>
			<item id="124"/>
			<item id="127"/>
			<item id="156"/>
			<item id="162"/>
			<item id="180"/>
			<item id="190"/>
			<item id="193"/>
			<item id="196"/>
			<item id="197"/>
			<item id="205"/>
			<item id="208"/>
			<item id="961"/>
		</submenu>
		<submenu label="农业装备技术展区（二）">
			<item id="962"/>
			<item id="209"/>
			<item id="215"/>
			<item id="223"/>
			<item id="224"/>
			<item id="225"/>
			<item id="238"/>
			<item id="243"/>
			<item id="258"/>
			<item id="287"/>
			<item id="291"/>
			<item id="295"/>
			<item id="298"/>
			<item id="327"/>
			<item id="331"/>
			<item id="349"/>
			<item id="352"/>
			<item id="358"/>
			<item id="360"/>
			<item id="375"/>
		</submenu>
		<submenu label="农业装备技术展区（三）">
			<item id="169"/>
			<item id="170"/>
			<item id="171"/>
			<item id="241"/>
			<item id="242"/>
		</submenu>
	</menu>
</menu>
