<?xml version="1.0" encoding="utf-8"?>
<Scenes>
	<Scene sceneID="1">
		<sample>1</sample>
		<sample>2</sample>
		<sample>3</sample>
		<sample>4</sample>
	</Scene>
	<Scene sceneID="2">
		<sample>1"</sample>
		<sample>2</sample>
		<sample>3</sample>
		<sample>4</sample>
	</Scene>
</Scenes>